{% extends "base.html" %}

{% block head %}
    <title>About This Blog</title>
{% endblock %}

{% block body %}
        <div class="body-header">
          <h1>What is this, anyway?</h1>
          <em>
            the who what where when why
          </em>
        </div>
        <div class="body-content">
          <p>
            This is a blog built on Flask made by a WebDevWeeks student in the Server-Side Development session.
          </p>
          <p>
            WebDevWeeks is an initiative by ScottyLabs to help more people learn about web development.
          </p>
        </div>
{% endblock %}