{% extends "base.html" %}

{% block head %}
    <title>Make a Post</title>
{% endblock %}

{% block body %}
        <div class="right-wrapper col-xs-12 col-md-9">
          <form method="post" action="/newpost">
            <p>Enter the Header:</p>
            <input class="create-header" type="text" name="post-header" maxlength="50"/>
            <br/><br/>
            <p>Enter the Content:</p>
            <textarea class="create-text" name="post-text"></textarea>
            <br/><br/>
            <p>What is the Security Question?</p>
            <input class="create-question" name="post-question" maxlength="100"/>
            <br/><br/>
            <p>What is the Answer?</p>
            <input class="create-answer" name="post-answer" maxlength="50"/>
            <br/>
            <br/>
            <input class="create-submit" type="submit" value="Create Post"/>
          </form>
        </div>
{% endblock %}