{% extends "base.html" %}

{% block head %}
	<title>Profile</title>
{% endblock %}

{% block body %}
	<div class="right-wrapper col-xs-12 col-md-9">
	<div class="post">
		<div class="post_header">
			<div class="profile_picture" style="text-align:center; margin-top: 10px;">
				<img src="https://brobible.files.wordpress.com/2016/05/screen-shot-2016-05-31-at-6-38-28-pm-e1464735210804.jpg?quality=90&w=650" style="width:45%">
			</div>
			<div class="profile_name" style="text-align:center;">
				<h1>Amanda O’Donoughue</h1>
			</div>
		</div>
		<div class="profile_content" style="margin-top:15px; padding:25px;">
			<p>I worked with gorillas as a zookeeper at the Knoxville Zoo from January 2006 until August of 2008; after that I volunteered doing sanctuary work and wildlife rehab. Of the dozens of animals I worked with closely, gorillas were my favorite, for their soulfulness, curiosity, and playfulness. Since the news emerged last weekend that Cincinnati Zoo officials shot and killed the gorilla known as Harambe after a little boy fell into his enclosure, I’ve realized that there are some misconceptions out there about both the gorilla species itself and how a zoo operates in emergency situations.</p>
		</div>
	</div>
	</div>
{% endblock %}